@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.fof {
  background-color: #232931;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: Poppins;
}
.fofimg {
  height: 45vh;
  background-color: #ef4767;
  opacity: 0.8;
  border-radius: 5px;
  padding: 1.5rem;
}
.fof1 {
  font-size: 3rem;
}
.fof2 {
  font-size: 2rem;
  padding: 0 2rem 0 2rem;
}
.bth {
  background-color: #ec4a6f;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .fofimg {
    height: 35vh;
    border-radius: 5px;
    padding: 1.2rem;
  }
  .fof1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .fof2 {
    font-size: 1.5rem;
  }
  .bth {
    background-color: #ec4a6f;
    color: white;
    border-radius: 8px;
    padding: 0.8rem;
    margin-top: 1.2rem;
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .fofimg {
    height: 25vh;
    border-radius: 5px;
    padding: 1rem;
  }
  .fof1 {
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .fof2 {
    font-size: 1.2rem;
  }
  .bth {
    background-color: #ec4a6f;
    color: white;
    border-radius: 8px;
    padding: 0.6rem;
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
