@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.iiz {
  /* height: 70vh; */
  width: 30vw;
  height: auto;
  /* margin: 2rem; */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.whatsappnum {
  display: flex;
}
.page3_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product_desc,
.product_image {
  width: 45%;
  height: 50%;
}
.product_desc {
  position: relative;
}

.product_image {
  height: auto;
  margin: 2rem;
  object-fit: contain;
}

.product_desc {
  padding: 3rem;
}

.title {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-family: Poppins;
}

.desc {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 33px;
  margin-bottom: 0.8rem;
}

.buttons1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.p_price {
  color: blueviolet;
  font-family: Poppins;
  font-size: xx-large;
  font-weight: bolder;
  text-align: left;
}

.org_price {
  font-size: large;
  text-decoration: line-through;
  margin-left: 1rem;
}
.whatsappicon {
  width: 1.7rem;
  margin-right: 1rem;
}
.whatsapp-anchor-tag {
  display: flex;
}
.whatsappus {
  margin-top: 1rem;
  display: flex;
  font-family: Poppins;
  font-size: larger;
  font-weight: bold;
  color: #4eb85b;;
}
.rate {
  text-align: left;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .page3_content {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-align: center;
    font-size: 1.8rem;
  }
  .rate {
    text-align: center;
  }
  .product_desc {
    width: 90%;
  }
  .product_image {
    width: 80%;
  }
  .buttons1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .desc {
    font-size: 1.1rem;
  }
  .product_desc {
    padding: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .partition {
    height: 70vh;
    width: 1px;
    background: rgb(61, 61, 61);
  }
}

@media screen and (min-width: 1150px) and (max-width: 1300px) {
  .iiz {
    width: 40vw;
  }
}
@media screen and (min-width: 900px) and (max-width: 1149px) {
  .iiz {
    width: 60vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .iiz {
    width: 70vw;
  }
}
@media screen and (max-width: 600px) {
  .iiz {
    width: 80vw;
  }
}
