@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.title_wrapper {
  margin: 2rem 5% 0rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

svg {
  height: 4rem;
  /* width: 20vw; */
  left: 0px;
  border-radius: 0px;
}

.line {
  height: 1.6px;
  width: 15rem;
  background-color: blueviolet;
}

.text1 {
  font-family: Poppins;
  font-size: 2rem;
  /* width: 50vw; */
  text-align: center;
}

.cards_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0rem;
  flex-wrap: wrap;
  margin: 1rem 2rem 0rem 2rem;
  background-color: rgba(0, 0, 100, 0);
}

@media only screen and (max-width: 500px) {
  .text1{
    font-size: 1.2rem;
    /* width: 60%; */
  }
}