.footer-container{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.f-flex{
  display: flex;
}
.data {
  display: flex;
  flex-direction: column;
}

.f-address,
.f-links,
.f-contacts,
.f-feedback {
  text-align: left;
  padding: 1rem;
}

.f-feedback{
  
}
.f-details {
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.input {
  border: 1px solid black;
}
.address,
.links,
.feedback,
.contacts {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  
}
.f-map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
.socials {
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
}


@media only screen and (max-width: 780px) {
  .footer{
    flex-direction: column;
  }
  .f-map{
    width: 100%;
  }
  .f-details{
    width: 100%;
  }
}