@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.footer-container {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}
.f-details {
  background-color: rgb(69, 0, 69);
  height: 38rem;
}
.data {
  margin-top: 12px;
}
.f-flex {
  display: flex;
}
.data {
  display: flex;
  flex-direction: column;
}

.f-address,
.f-links,
.f-contacts,
.f-feedback {
  text-align: left;
  padding: 1rem;
  font-family: Poppins;
}
.f-details {
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #621ea1;
  height: 38rem;
}
.input {
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
}
.address,
.links,
.feedback,
.contacts {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.f-map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.socials {
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
}

@media only screen and (max-width: 780px) {
  .footer {
    flex-direction: column;
  }
  .f-map {
    width: 100%;
  }
  .f-details {
    width: 100%;
  }
}
