.cloth_image {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 15%;
  /* border-radius: 50%; */
  /* margin: 0rem 1.5rem 0rem 1.5rem */
}

.images_row {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: center;
  height: fit-content;
}

.img_description {
  position: absolute;
  margin-left: 3.2rem;
  color: azure;
  padding: 0.7rem;
  border-radius: 51px;
  background-color: rgba(83, 5, 132, 0.81);
  filter: drop-shadow(1px 4px 4px rgba(176, 68, 243, 0.7));
  text-align: center;
}

@media (max-width: 540px) {
  .cloth_image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 380px) {
  .cloth_image {
    width: 150px;
    height: 150px;
  }
}
