@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

/* .main_nav {
  display: flex;
  background-color: #8d12d9;
  height: 15vh;
} */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  background-color: #8d12d9;
  height: 10vh;
  align-items: center;
}
.grt {
  margin-left: 0.5rem;
}

.logo {
  font-family: Poppins;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.inputnav {
  /* margin-left: 2rem; */
  width: 35vw;
  border: none;
  padding: 6px 20px;
  border-radius: 2px 0px 0px 2px;
  height: 5.5vh;
}

/* .sticky {
  position: fixed;
  top: 0;
} */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  z-index: 10000;
  background-color: #8d12d9;
}
.btn-search {
  background-color: #6e10a8;
}


@media (max-width: 860px) {
  /* .grt {
    display: none;
  } */
  .logo {
    font-size: 1.8rem;
  }
  .inputnav {
    width: 68vw;
  }
  .sticky {
    position: fixed;
    top: 0;
  }
  .navbar {
    height: 15vh;
  }
  .searchbar {
    width: 100%;
    order: 3;
  }
  .nav_toggle {
    order: 2;
  }
}
@media (min-width: 860px){
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
  }
  .main_nav {
    height: 10vh;
  }
}

@media (max-width : 475px){
  .logo {
    font-size: 1.4rem;
  }
}
