.content {
  margin-top: 1rem;
  color: rgb(63, 0, 63);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-family: Poppins;
  font-weight: 600;
}

.price_tag {
  padding: 0.2rem;
  height: 60px;
  width: 220px;
  color: white;
  background-color: #6b2097;
  border-radius: 15px;
  /* border-radius: 25px; */
  box-shadow: 5px 5px 10px rgba(161, 75, 211, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_title {
  vertical-align: text-top;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 540px) {
  .price_tag {
    width: 160px;
    height: 50px;
  }
  .image_title {
    width: 150px;
  }
  .content {
    font-size: 0.8rem;
    /* font-weight: 600; */
  }
}

@media (max-width: 380px) {
  .price_tag {
    width: 150px;
    height: 50px;
  }
  .image_title {
    width: 145px;
  }
  .content {
    font-size: 0.8rem;
    /* font-weight: 600; */
  }
}
