.Toastify__toast {
  font-family: "Poppins";
}

.Toastify__toast--success {
  background-color: rgba(29, 207, 83, 0.781);
}
.Toastify__toast--error {
  background-color: rgba(237, 67, 55, 0.904);
}

@media (max-width: 768px) {
  .Toastify__toast {
    font-family: "Poppins";
    margin-top: 2.5rem;
  }
}
