body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cta {
  background-color: #f9c5d1;
  background-image: linear-gradient(135deg, #f9c5d1 0%, #9795ef 74%);
}

/* Dark Mode CSS */

.dark {
  background-color: #393e46;
}
.dark .cta {
  background-color: #ff006e;
  background-image: linear-gradient(135deg, #ff006e 0%, #80ffdb 74%);

  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #ef476f 0%, #fb8085 74%);
}
.dark .btn-search {
  background-color: #33383f;
}
.dark .tagline-heading {
  color: #80ffdb;
}
.dark .tagline-text {
  color: #eeeeee;
}
.dark rect {
  stroke: #ffffff;
}
.dark .line {
  background-color: #ff006e;
}
.dark .text1 {
  color: #ffffff;
}
.dark .navbar {
  background-color: #232931;
}
.dark .f-details {
  /* background-image: linear-gradient(45deg, #393e46 0%, #80ffdb 100%); */
  background: #ef476f;
  /* background: linear-gradient(45deg, 25%, #ff006fe3 100%); */

  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #ef476f 0%, #d16a6e 74%);
}
.dark .myFooter {
  background-color: #232931;
}
.dark .price_tag {
  background-color: #ef476f;
  box-shadow: 2px 2px 4px #00ca91;
}
.dark .image_title {
  color: #eeeeee;
}
.dark .line2 {
  color: #eeeeee;
}
.dark .results {
  color: #eeeeee;
}
.dark .title {
  color: #eeeeee;
}
.dark .MuiSlider-markLabel {
  color: #eeeeee;
}
.dark .MuiSlider-track {
  color: #ef476f;
}
.dark .MuiSlider-thumb {
  color: #ef476f;
}
.MuiSlider-track {
  color: #8d12d9;
}
.MuiSlider-thumb {
  color: #8d12d9;
}
.dark .inputnav::placeholder {
  color: #232931;
}
.dark .desc {
  color: #eeeeee;
}
.dark .orderby > p {
  color: #eeeeee;
}
.dark .pg-3-btn {
  color: #6b2097;
  background-color: #eeeeee;
}

.dark .hpvmp{
  color: #393e46;
}