.cloth_image {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0rem 1.5rem 0rem 1.5rem;
}

.images_row {
  display: flex;
  margin-bottom: 3.5rem;
  cursor: pointer;
}
.content {
  margin-top: 1rem;
  color: rgb(63, 0, 63);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price_tag {
  padding: 0.5rem;
  width: 220px;
  color: white;
  background-color: #6b2097;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(161, 75, 211, 0.8);
}

.img_description {
  position: absolute;
  margin-left: 3.2rem;
  color: azure;
  padding: 0.7rem;
  border-radius: 51px;
  background-color: rgba(83, 5, 132, 0.81);
  filter: drop-shadow(1px 4px 4px rgba(176, 68, 243, 0.7));
  text-align: center;
}
